@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 174 51% 1%;
    --muted: 174 34% 89%;
    --muted-foreground: 174 5% 32%;
    --popover: 174 44% 98%;
    --popover-foreground: 174 51% 1%;
    --card: 174 44% 97%;
    --card-foreground: 174 51% 0%;
    --border: 174 13% 88%;
    --input: 174 13% 88%;
    --primary: 174 93% 62%;
    --primary-foreground: 174 93% 2%;
    --secondary: 174 20% 83%;
    --secondary-foreground: 174 20% 23%;
    --accent: 174 20% 83%;
    --accent-foreground: 174 20% 23%;
    --destructive: 1 80% 20%;
    --destructive-foreground: 1 80% 80%;
    --ring: 174 93% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 174 56% 1%;
    --foreground: 174 36% 99%;
    --muted: 174 34% 11%;
    --muted-foreground: 174 5% 68%;
    --popover: 174 56% 1%;
    --popover-foreground: 174 36% 99%;
    --card: 174 56% 2%;
    --card-foreground: 0 0% 100%;
    --border: 174 13% 11%;
    --input: 174 13% 11%;
    --primary: 174 93% 62%;
    --primary-foreground: 174 93% 2%;
    --secondary: 174 5% 15%;
    --secondary-foreground: 174 5% 75%;
    --accent: 174 5% 15%;
    --accent-foreground: 174 5% 75%;
    --destructive: 1 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 174 93% 62%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}